*.gcode
*.stl
*.dxf
*.3mf
*.mp4
*.html
*.png
*.jpg
*.zip
*.parts
*.dep
*.pdf
Version.adoc
animation.gif
animation.mp4
changelog.txt
build.log
Manual.pdf
Liberator12k-source/
Legal/
Media/
src/Toys/
PRIVATE/
